<!DOCTYPE html>
<html>
 
    <head>
        <title>Simon in Vue</title>
        <link rel="stylesheet" href="./style.css">  
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="simon">
            <div class="startButton">
                <startbutton v-on:start-game="startGame"></startbutton>
            </div>
            <div v-if="level>0">
                <level v-bind:level="level" v-bind:order="order">Level : </level>
                <div class="board">
                    <puddle v-for="(puddle, index) in puddles"  ref="puddleObject" v-bind:data="puddle" v-bind:index="index" v-on:click-button="puddleClick" >{{puddle.text}}</puddle>
                </div>
            </div>
        </div>  
        <script src="index.js"></script>
        <script src="components/puddle.js"></script>
        <script src="components/level.js"></script>
    </body>
</html>