.puddle{
    width:47%;
    height:150px;
    margin: 0.1% ;
    text-align: center;
    display: inline-block;
}

.board {
    text-align: center;
}

#level{
    text-align: center;
}
.startButton {
    text-align: center;
}
.startButton button {
    text-align: center;
    height: 40px;
    width: 100px;
}


/*
    Class for puddles colors
*/
.red {
    border-top-left-radius:100%;
    background-color: tomato;
}

.red-active {
    background-color: red;
}

.green {
    background-color: lightgreen;
    border-bottom-left-radius:100%;
}

.green-active {
    background-color: green;
}

.yellow {
    background-color: lightyellow;
    border-top-right-radius:100%;
}
.yellow-active {
    background-color: yellow;
}

.blue {
    background-color: lightblue;
    border-bottom-right-radius:100%;
}
.blue-active {
    background-color: blue;
}